:root {

    /* colors */
    --nutmeg: hsl(14, 45%, 36%);
    --dk-raspberry: hsl(332, 51%, 32%);

    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lt-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dk-charcoal: hsl(24, 5%, 18%);

    /* components */
    --clr-background-primary: var(--eggshell);
    --clr-heading-primary: var(--nutmeg);
    --clr-title-primary: var(--dk-charcoal);

    --clr-prep-background: var(--rose-white);
    --clr-prep-heading: var(--dk-raspberry);
    --clr-prep-text: var(--wenge-brown);

    /* font size */
    --fs-400: 1rem;
    --fs-800: 2.5rem;

    /* font weight */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  } */
input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* general styling */

h1,
h2 {
    font-family: 'Young Serif', serif;
}

h1 {
    color: var(--clr-title-primary);
    margin: 1.5rem 0 1rem;
    font-size: var(--fs-800);
}

h2 {
    color: var(--clr-heading-primary);
}

body {
    background-color: var(--eggshell);
    color: var(--clr-prep-text);
    font-family: 'Outfit', sans-serif;
    /* margin: 7.6rem 0; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: var(--white);
    max-width: 738px;
    padding: 2.5rem;
}

.hero-img {
    width: 100%;
}

.card--prep {
    background-color: var(--clr-prep-background);
    margin: 2rem 0;
    padding: 1.5rem;
    line-height: 2;
}

.card--prep h3 {
    color: var(--clr-prep-heading);
}